/* first part styles */

.first-part{
    background-image: url('../assets/Hero-bg.png');
    
}
.part-1{
    
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
margin: 24px 0px;
padding: 0px;
max-width: 0 none;
}
.part-2{
    

    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin: 24px 0px;
padding: 0px;
}
.button{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;

background: rgb(13, 19, 33);
padding: 21px 24px 21px 24px;
margin: 32px 0px;
}
/* second part styles */
.second-part{
    max-width: 0 none;
    text-align: center;
    border-radius: 16px;
    align-items: center;
    padding: 80px 97px 80px 430px;
}
.second-part-1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin: 24px 0px;
flex-direction: column;
justify-content: flex-start;
width: 800px;
height: 52px;
position: static;
align-items: center;
}
.second-part-2{
    display: flex;
    gap: 98px;
    padding: 48px 48px;
    width: 946px;
    height: 336px;
}
.left-side{
    /* Frame 6 */
position: static;
width: 477px;
height: 220px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
text-align: left;
}
.button-2{
    padding: 12px 20px 12px 20px;
   background-color:  rgb(255, 255, 255);
   font-size: 20px;
   box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}
.second-part-3{
    display: flex;
}
.right-side{
    /* Frame 9 */
position: static;
width: 477px;
height: 219px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 32px;
}
.second-part-4{
    display: flex;
}
.right-image{
    width: 240px;
    height: 240px;
    text-align: right;
    padding: 16px 26px;
}
/* my inspiration */
.inspiration{
    text-align: center;
}
/* video */
.video{
    text-align: center;
    margin: 48px 0px;
    padding: 32px;
    
    
}
.current-target{
    text-align: center;
}
.target-items{
    display: flex;
    text-align: center;
    gap: 24px;
    padding: 40px 64px 40px 300px;
}
.item-1{
    border-radius: 16px;
    /* Frame 10 */
position: static;
width: 364px;
height: 299px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;

background: rgba(255, 76, 30, 0.05);
}
.item-2{
    border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
/* Frame 10 */
position: static;
width: 364px;
height: 299px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}
.item-3{
    border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
/* Frame 10 */
position: static;
width: 364px;
height: 299px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}
#feedback{
    /* Frame 7 */
position: static;
width: 548px;
height: 57px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 19px 20px 19px 20px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
}
.submit{
    /* Frame 8 */
position: static;
width: 120px;
height: 58px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 20px 17px 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;
border-radius: 8px;

background: rgb(255, 255, 255);
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.feedback-part{
    display: flex;
    text-align: center;
    padding: 19px 20px 19px 300px;
}
.support{
    text-align: center;
    background-image: url(../assets/handshake.jpg);
   
    background-position: center right;
    border-radius: 16px;
    width: 80%;
    margin: 0 auto;
    background-size: cover;
    padding: 5rem 0;
    
}
.support-title{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.support-description{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.Nasim{
    display: flex;
    justify-content: space-between;
    border-radius: 16px;

background: rgba(13, 19, 33, 0.03);
padding: 32px 150px 32px 150px;
}